
/*-----------------------------------------------------------------------------------*/
/* Document
/*-----------------------------------------------------------------------------------*/

.form{
	padding:20px;
	background:#001089;
	text-align:center;
}

.form h1{
	color:#FFF;
	text-align:center;
	font-size:30px;
}

.form .form-heading{
	font-size:40px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	line-height:1;
}