
/*-----------------------------------------------------------------------------------*/
/* Document
/*-----------------------------------------------------------------------------------*/

.form h1{ font-size:40px; }

.list h1 { font-size:40px; color:#000;}

.list span { color:#ff0000;}